body {
  background-image: url("../img/Healthy-Packaged-Food.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
nav {
  margin-top: -21.5px;

  color: white;
  background-color: #e4295d;
  height: 60px;
  width: 150%;
}

h2 {
  color: blue;
  font-size: 45px;
  text-align: center;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
.productcont {
  /* background-image: url(../img/smarketbg.jpg);
background-attachment: fixed;
background-repeat: no-repeat; */
  background-color: #e4295d;
  width: 25%;
  display: inline-block;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}
.productimg {
  width: 175px;
  height: 200px;
  display: block;
  padding-left: 100px;
  padding-top: 10px;
  margin-left: -10%;
  margin-right: 35%;
}
h1 {
  text-align: left;

}
button {
  background-color: #8f8ac0;
  color: #171435;
}
button:hover {
  background-color: #f59e0b;
  color: #631900;
}
span {
  display: inline-block;
  width: 20%;
}
h1 img {
  height: 30px;

  font-weight: bold;
}
p img {
  margin-left: 43%;
  margin-right: 50%;
  margin-top: 80px;
  height: 200px;
  width: 200px;
}
.pclass {
  color: blue;
  font-size: 25px;
  text-align: center;
  display: block;
  margin-left: 28%;
  margin-right: 30%;
  font-weight: bold;
}
